Package: sandstone
Name: SandStone
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Access nearly every directory from a sandboxed application.
Author: chpwn <support@chpwn.com>
Section: Development
Tag: role::developer
